
@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes fadeOut
  from
    opacity 1
  to
    opacity 0


@keyframes scaleIn
  from
    opacity 0.5
    transform scale(0.98)
  to
    opacity 1
    transform scale(1)

@keyframes scaleOut
  from
    opacity 1
    transform scale(1)
  to
    opacity 0
    transform scale(0.9)

@keyframes scaleInMid
  from
    opacity 0
    transform scale(0.7) translate(-75%, -75%)
  to
    opacity 1
    transform scale(1) translate(-50%, -50%)

@keyframes scaleOutMid
  from
    opacity 1
    transform scale(1) translate(-50%, -50%)
  to
    opacity 0
    transform scale(0.7) translate(-75%, -75%)

@keyframes charIn
  from
    opacity 0
    transform perspective(200px) rotateY(90deg)
  to
    opacity 1
    transform perspective(200px) rotateY(0deg)

@keyframes cellInY
  from
    transform translate(0, 10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes cellOutY
  from
    transform translate(0, -10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1



@keyframes cellOutYOff
  from
    transform translate(0, 0)
    opacity 1
  to
    transform translate(0, -10px)
    opacity 0


@keyframes cellInX
  from
    transform translate(10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes cellInXFull
  from
    transform translate(100vw, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes cellOutXFull
  from
    transform translate(0, 0)
    opacity 1
  to
    transform translate(100vw, 0)
    opacity 0


@keyframes cellOutY
  from
    transform translate(0, -10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes cellOutX
  from
    transform translate(-10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1
