.logo
  onoff()
  float left
  margin 0 0 0 -10px
  > .dots
    size = 40
    background-color gc(black5)
    width unit(size, px)
    height unit(size, px)
    border-radius 50%
    text-align center
    &:hover
      background-color gc(black6)
    > .dot
      float left
      width unit(size/5, px)
      height unit(size/5, px)
      border-radius 50%
      margin unit(size/2.5, px) unit(size/15, px) 0 unit(size/15, px)
      &:nth-child(1)
        background-color gc(skin1)
      &:nth-child(2)
        background-color gc(cyan1)
      &:nth-child(3)
        background-color gc(orange1)

