.menu
  onoff()
  z-index 15
  position absolute
  top 0
  left 0
  width 80px
  transition background-color 0.1s linear 0s
  &:hover
    background-color gc(cyan1)
    transition background-color 0.15s linear 0ss
    > .options > .option > .label
      opacity 1
      transition opacity 0.1s linear 0.1s
    > .options > .option > .icon > svg
      > path, > circle
        fill gc(black2) !important
    > .name
      opacity 1
      transition opacity 0.1s linear 0.1s
  > .options
    padding-top 74px
    > .option
      display block
      position relative
      cursor pointer
      transition background-color 0.1s linear 0.1s
      height 70px
      gf(c1tb)
      &:hover
        background-color gc(orange1)
        transition background-color 0.1s linear 0s
        > .label
          color gc(skin1)
        > .icon > svg
          > path, > circle
            fill gc(skin1) !important
      > .active
        position absolute
        background-color gc(black2)
        top 0
        left 0
        bottom 0
        width 0px
      &.on > .active
        width 5px
        transition width 0.1s 
        transition-timing-function: cubic-bezier(.87,-.41,.19,1.44)
      &.on > .icon > svg
        > path, > circle
          fill gc(cyan1)
      > .icon
        float left
        width 25px
        height 25px
        padding 23px
        margin 0 0 0 5px
        > svg
          width inherit
          height inherit
          > path, > circle
            fill gc(black2)
      > .label
        display none
        position absolute
        opacity 0
        top 25px
        left 80px
        gf(c1b)
        color gc(black2)
        transition opacity 0s linear 0s

