.ctap
  ctap()

.cta
  cta()

.ctab
  ctab()

.ctar
  ctar()

.ctag
  ctag()

cta_common()
  user-select none
  cursor pointer
  text-shadow 0 -1px 0 rgba(0,0,0,0.15)
  border-radius 4px

ctar()
  cta()
  color gc(red1)

ctag()
  cta()
  color gc(green1)

ctap()
  cta_common()
  border 1px solid gc(green1)
  border-top 1px solid gc(green1)
  border-left 1px solid gc(green1)
  border-right 1px solid gc(green1)
  background-color gc(green2)
  color gc(white1)
  background linear-gradient(to bottom, gc(green2), gc(green1))
  &:hover
    background linear-gradient(to bottom, gc(green3), gc(green1))
  &:active
    background radial-gradient(gc(green2), gc(green1))

cta()
  cta_common()
  border 1px solid gc(grey3)
  background-color gc(grey2)
  background linear-gradient(to bottom, gc(grey2), gc(grey3))
  &:hover
    background linear-gradient(to bottom, gc(grey1), gc(grey3))
  &:active
    background radial-gradient(gc(grey2), gc(grey3))

ctab()
  cta_common()
  background gc(blue1)
  border 1px solid gc(blue2)
  background linear-gradient(to bottom, gc(blue1), gc(blue2))
  color gc(white1)
  &:hover
    background linear-gradient(to bottom, gc(blue2), gc(blue1))
  &:active
    background radial-gradient(gc(blue2), gc(blue1))

onoff()
  &.on
    display block
  &.off
    display none

fullsize()
  top 0
  left 0
  right 0
  bottom 0

desktop()
  max-width 1200px
  margin auto

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

gf(k)
  for key, value in config.font[k]
    {key} unquote(value)

gc(k)
  return convert(config.color[k])

fontfaces(dir, fonts, exts)

  for font in fonts
    @font-face
      font-family dir font
      for ext in exts
        if ext == 'eot'
          src url(fnt/dir/font.eot) format('embedded-opentype')
        if ext == 'otf'
          src url(fnt/dir/font.otf) format('opentype')
        if ext == 'ttf'
          src url(fnt/dir/font.ttf) format('truetype')
        if ext == 'svg'
          src url(fnt/dir/font.svg) format('svg')
        if ext == 'woff'
          src url(fnt/dir/font.woff) format('woff')
      font-weight normal
      font-style normal
