.notice
  onoff()
  position fixed
  top 0
  width 400px
  left 50%
  margin-left -200px
  animation cellOutY 0.2s linear 0s both
  z-index 21
  &.offing
    animation cellOutYOff 0.2s linear 0s both
  &:hover > .inner > .close
    opacity 1
  &.success
    background-color gc(google_green)
    > .inner > .type.success, > .inner > .copy > .title.success
      display block
  &.warning
    background-color gc(red1)
    > .inner > .type.warning, > .inner > .copy > .title.warning
      display block
  &.info
    background-color gc(google_blue)
    > .inner > .type.info, > .inner > .copy > .title.info
      display block

  > .inner
    position relative
    color gc(white2)
    > .type
      text-align center
      display none
    > .type
      position absolute
      top 0
      left 0
      bottom 0
      gf(h1)
      width 50px
      background-color rgba(gc(black1), 0.1)
      > .inner
        left 10px

    > .close > .inner, > .type > .inner
      position absolute
      top 50%
      margin-top -17px
      width 30px
      height 30px
      > svg > path
        fill gc(white1)
    > .close
      onoff()
      text-align center
      cursor pointer
      position absolute
      top 0
      right 0
      bottom 0
      width 50px
      gf(h1)
      line-height 30px
      opacity 0
      transition opacity 0.1s linear
      &:hover > .inner
        background-color rgba(gc(black1), 0.2)
        transition background-color 0.1s linear
      > .inner
        border-radius 50%
        padding 0px 3px 5px 3px
        margin-top -15px

    > .copy
      margin 0 70px
      min-height 10px
      padding 15px 0 
      > .title
        gf(c1b)
        margin 0 0 10px 0
        display none
    > .notice_progress
      onoff()
      margin 0 20px 0 70px
      height 40px
      > .inner
        height 20px
        background-color rgba(gc(black1), 0.1)
        position relative
        > .full
          position absolute
          top 0
          left 0
          bottom 0
          width 0%
          background-color gc(white1)
          transition width 0.1s linear

@media all and (min-width: 1px) and (max-width: 1000px)
  .notice
    width 100%
    left 0
    margin-left 0px
