.prompt
  position fixed
  top 50%
  left 50%
  max-width 640px
  min-width 320px
  background-color gc(white1)
  border 1px solid gc(black1)
  box-shadow 0 0 16px 2px gc(black2), 0.5
  z-index 21
  onoff()
  animation scaleInMid 0.6s ease-in-out 0s both
  animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  &.offing
    animation scaleOutMid 0.2s linear 0s both
      
  > .inner
    padding 20px 30px
    position relative
    animation fadeIn 0.1s linear 0.6s both
    > .cancel
      position absolute
      top 0
      right 0
      cursor pointer
      font-size 20px
      padding 20px
      text-align center
    > .title
      gf(h2)
    > .copy
      margin 20px 0
      > pre
        overflow auto
        background-color gc(white2)
        padding 10px
      > b
        gf(c1b)
    > .textarea
      &.off
        display none
      &.on
        display block
      > textarea
        gf(c1)
        display block
        width 500px
        height 125px
        margin 0 0 20px 0
        padding 10px
    > .input
      onoff()
      margin 0 0 20px 0
      float left
      width 100%
      > input
        width 400px
      > .clipboard
        cursor pointer
        float right
        width 34px
        height 34px
        padding 5px
        border-left 1px solid gc(grey1)
        margin -7px -7px -7px 0
        &:hover
          background-color gc(grey2)
        > svg
          width 25px
          height 20px

    > .options
      margin 0 -10px 0 0
      text-align right
      white-space nowrap
      > .option
        display inline-block
        padding 10px 20px
        &.on
          display inline-block
        &.off
          display none
        cta()
        &.active
          ctab()
