.page.clients
  > .ctap
    float right
    gf(c1b)
    color gc(white1)
    padding 6px 12px
  > .content
    padding 20px 0
    > .listing
      > .items
        > .item
          > .profile
            float left
            width 40px
            height 40px
            background-color gc(grey1)
            background-size contain
            margin 10px
