.page.clients
  > .add
    float right
    margin 0 0 20px 0
    > .ctab
      float right
      width 34px
      height 34px
      line-height 34px
      text-align center
      gf(h2)
      cursor pointer
      transition background-color 0.1s linear
      &:hover
        background-color gc(cyan1)
        color gc(white1)
    > .input
      float right
      display block
      margin -36px 50px 0 0

