.page.dashboard
  margin 20px 50px
  > .collections
    > .collection
      float left
      border 2px solid gc(black2)
      padding 5px 20px
      transition background-color 0.1s linear 0.1s
      margin 0 20px 20px 0
      &:hover
        background-color gc(cyan1)
        color gc(white1)
        transition background-color 0.1s linear
      > .title
        gf(h2)
      > .stat
        > .copy
          float left
          gf(c2)
        > .value
          float right
          gf(c2b)

