.page.dashboard
  onoff()
  width 930px
  > .collections
    margin 40px 0 0 0

    > .collection
      float left
      width 359px
      border 1px solid gc(grey1)
      border-radius 3px
      padding 16px
      margin 0 16px 16px 0
      animation scaleIn 0.2s 0.01s ease-out both
      for num in 0..20
        &:nth-child({num})
          animation-delay unit(num*0.05, 's')
      &.fake
        animation none
        color gc(grey3)

      > .client
        > .profile
          float right
          width 70px
          height 70px
          background-color gc(grey3)
          margin 3px 10px 0 0
          border-radius 3px
        > .name
          gf(h3b)
        > .date
          padding 10px 0 0 0
          > .copy
            display inline-block
          > .value
            display inline-block
        > .stats
          padding 10px 0 0 0 
          > .stat
            padding 10px
            margin 0 20px 0 -5px
            border-radius 3px
            display inline-block
            &:hover
              background-color gc(white3)
            > .icon
              float left
              width 20px
              height 20px
            > .number
              float left
              gf(c1b)
              padding 0 0 0 5px
              color gc(blue3)

