.page.dashboard
  > .collections
    text-align center
    > .collection
      display inline-block
      background-color gc(white2)
      padding 10px 20px
      border-radius 4px
      transition background-color 0.1s linear 0.1s
      margin 0 20px 20px 0
      min-width 150px
      &:hover
        background-color gc(blue2)
        color gc(white1)
        transition background-color 0.1s linear
      > .title
        gf(h2)
      > .stat
        > .copy
          float left
          gf(c2)
        > .value
          float right
          gf(c2b)

