.page.entry

  > #template
    display none

  > .modify
    margin 10px 0
    padding 10px
    border 1px solid gc(grey1)
    margin auto
    > .select
      float left
      margin 10px
      min-width 230px
      .profile
        width 25px
        height 25px
        margin 0 5px 0 0
    > .name
      onoff()
      padding 10px 
      border-top 1px solid gc(grey1)
      > .label
        float left
        width 100px
        padding 10px 0
        text-align left
        gf(c1b)
        color gc(black1)
      > .input
        float right
        width 80%
        > input
          width 100%
    > .body 
      > .entity
        border-top 1px solid gc(grey1)
        padding 10px
        &.entity_Text > .input > input
          width 100%
        &.entity_Blog > textarea
          height 0px
          margin 0px
          padding 0px
          font-size 0px
          border none

        > .label
          float left
          width 100px
          padding 10px 0
          gf(c1b)
          color gc(black1)
          text-align left
        > .input
          float right
          width 80%
          > input
            width 100%
          &.input-image
            text-align center
            border 1px solid gc(grey3)
            min-height 100px
            position relative
            &.on
              border 3px dashed gc(green1)
              background-color gc(green3)
            > .cropper
              width 100%
              height 600px
              display none
            > .cropper-container
              margin-top 40px
            > .picture
              position absolute
              top 10px
              right 10px
              background-color gc(grey1)
              background-size cover
              width 80px
              height 80px
              overflow hidden
              text-align center
            > input
              height 0px
              width 0px
              visibility hidden
            > button.cta
              padding 6px 12px
              margin 35px auto 0 auto
              display inline-block
              gf(c1)
              &.save
                display block
                float right
                onoff()
                margin 10px


    > .submit, > .another, > .cancel
      padding 5px 10px
      float right
      margin 10px
      onoff()
      gf(c1b)
    > .another, > .cancel
      gf(c1tb)
      color gc(black1)
      padding 6px 10px 

