.page.entry

  > #template
    display none

  > .modify
    margin 10px 0
    padding 10px
    border 1px solid gc(grey1)
    margin auto
    > .select
      float left
      margin 10px
      min-width 200px
    > .name
      onoff()
      padding 10px 
      border-top 1px solid gc(grey1)
      > .label
        float left
        width 100px
        padding 10px 0
        text-align left
        gf(c1b)
        color gc(black1)
      > .input
        float right
        width 80%
        > input
          width 100%
    > .body 
      > .entity
        border-top 1px solid gc(grey1)
        padding 10px
        &.entity_Text > .input > input
          width 100%
        &.entity_Blog > textarea
          height 0px
          margin 0px
          padding 0px
          font-size 0px
          border none

        > .label
          float left
          width 100px
          padding 10px 0
          gf(c1b)
          color gc(black1)
          text-align left
        > .input
          float right
          width 80%

    > .submit
      gf(c1b)
      padding 5px 10px
      float right
      margin 10px
      onoff()

