.page.modify
  > .title
    max-width 900px
    margin auto
    padding 50px 10px 10px 10px
    > input
      width 885px
      padding 5px
      gf(h1)
      outline none
  > .editor
    max-width 900px
    padding 0 10px
    margin auto
    min-height 600px
    > form
      > .button
        cursor pointer
        float right
        background-color gc(red1)
        color gc(white1)
        padding 10px 20px
        margin 10px 0 0 0

    > .modified
      margin 50px 0
