.page.entries

  > .content
    padding 20px 0

  > #template
    display none

  > .add
    margin 10px 0
    padding 10px
    border 1px solid gc(grey1)
    margin auto
    > .select
      float left
      margin 10px
      min-width 200px
    > .body 
      > .entity
        border-top 1px solid gc(grey1)
        padding 10px
        &.entity_Text > .input > input
          width 100%
        &.entity_Blog > .note-editor
          margin 10px 0 0

        > .label
          float left
          width 100px
          padding 10px 0
          gf(c1b)
          color gc(black1)
          text-align left
        > .input
          float right
          width 80%

    > .submit
      gf(c1b)
      padding 5px 10px
      float right
      margin 10px
      onoff()

