.page.entries
  > .title
    float left
    gf(h2b)
    margin 5px 0 0 0
  > .ctap
    float right
    gf(c1b)
    padding 6px 12px
    color gc(white1)

  > .content
    padding 20px 0
    > .listing > .inner > .deleted
      position absolute
      bottom 0px
      right 0px
      width 33px
      height 33px
      margin 10px
      padding 5px
      &:hover
        background-color gc(grey3)
        border-radius 3px

