.page.home
  onoff()
  > .title
    text-align center
    gf(h1)

  > .oauths
    onoff()
    .oauth.google
      cursor pointer
      margin auto
      width 191px
      height 46px
      background-image url(/images/google/btn_google_signin_dark_normal_web.png)
      &:hover
        background-image url(/images/google/btn_google_signin_dark_focus_web.png)
      &:active
        background-image url(/images/google/btn_google_signin_dark_pressed_web.png)

