
.dashboard
  > .collections

    > .collection
      float left
      border 2px solid gc(black2)
      padding 5px 20px
      > .title
        gf(h1)
      > .stat
        > .copy
          float left
          gf(copy2)
        > .value
          float right
          gf(copy2b)

