
.intro
  width 100vw
  height 100vh
  position relative
  overflow hidden
  background-color gc(black4)

#canvas
  position absolute
  top 0 
  left 0
  transform rotate(30deg)
  width 170vw
  height 170vh
  margin -35vh 0 0 -35vw
  opacity 1

.newlogo
  width 400px
  height 106px
  margin 30px auto 0 auto
  position absolute
  top 50%
  left 50%
  margin-top -53px
  margin-left -200px
  > .inner
    width 100%
    height 100%
    position relative
    > .hexagon
      position absolute
      top 31px
      left 162px
      margin auto
      width 75px
      height 75px
      opacity 0
      > svg > path
        fill gc(white1)
    > .svg
      position absolute
      top 0
      left 0
      width 400px
      height 200px
      transform translate(0, 0)
      transition transform 1s ease-in-out
      > svg > path, > svg > polygon
        transition transform 1s ease-in-out, opacity 1s ease-in-out
        opacity 1
      > svg > path, > svg > polygon
        fill gc(white1)

.newlogo.on > .inner
  > .hexagon
    transition opacity 0.5s ease-in-out 0s

.newlogo.off > .inner
  > .hexagon
    opacity 1
    transition opacity 0.5s ease-in-out 0.5s
  > .svg
    transform translate(-30px, 0)
    > svg > path,  svg > polygon
      opacity 0
    > svg > path:nth-child(1)
      transform translate(483px, 0)
    > svg > path:nth-child(2)
      transform translate(244px, 0)
    > svg > path:nth-child(4)
      transform translate(-240px, 0)
    > svg > polygon:nth-child(5)
      transform translate(-332px, 0)

