.page.invite
  text-align center

  > .profile
    width 200px
    height 200px
    margin auto
    background-size cover

  > .title
    text-align center
    margin 20px 0 10px 0
    gf(h1)

  > .copy
    text-align center
    margin 0 0 20px 0
    gf(h3)
