
.page.items
  > .title
    gf(h1)
    margin 20px
  > .listing
    min-height 600px
    text-align center
    > .item
      display inline-block
      width 400px
      > .img
        width 400px
        height 300px
        > img
          width inherit
          height inherit


