
.page.item
  > .title
    gf(h2)
    margin 10px 20px
  > .creator
    margin 10px  20px
  > .image
    text-align center
    overflow hidden
    background-color gc(white2)
    padding 10px 0
    > #container
      margin auto
      display inline-block
      background-color gc(white1)
      overflow hidden
    > .stats
      > .stat_label, .stat_value
        float left
        margin 10px 5px 0 0
