.listing
  border 1px solid gc(grey1)
  min-height 40px
  > .item
    color gc(black1)
    display block
    padding 10px
    border-bottom 1px solid gc(grey1)
    animation cellInX 0.1s 0s ease-in both
    for num in 0..20
      &:nth-child({num})
        animation-delay unit(num*0.05, 's')
    &:hover
      background-color gc(grey2)
    &:last-child
      border-bottom 1px solid transparent
    > .name
      gf(c1b)
      display inline-block
    > .created, > .updated
      display inline-block
      padding 0 10px
      > time
        gf(c1b)
    > .detail
      display inline-block
      > .bold
        gf(c1b)
