.listing
  > .list-header
    background-color gc(white2)
    border-top 1px solid gc(grey1)
    border-left 1px solid gc(grey1)
    border-right 1px solid gc(grey1)
    border-radius 4px 4px 0 0
    > .checkbox
      cursor pointer
      float left
      padding 15px 10px 15px 12px
    > .state
      margin 0 0 0 40px
      onoff()
      > .copy
        padding 15px 0
        float left
        > .value
          display inline-block 
          gf(c1b)
          padding 0 5px 0 0
      > .actions
        float left
        padding 8px 15px 8px 15px
        > .action
          float right
          padding 6px 12px
          margin 0 0 0 12px

    @import 'partial/listing_filters'

  @import 'partial/listing_items'
