.hexagon 
  position: relative
  width: 300px 
  height: 173.21px
  background-color: #cc0000
  margin: 86.60px 0
  border-left: solid 10px #333333
  border-right: solid 10px #333333

.hexagon:before,
.hexagon:after {
  content: ""
  position: absolute
  z-index: 1
  width: 212.13px
  height: 212.13px
  -webkit-transform: scaleY(0.5774) rotate(-45deg)
  -ms-transform: scaleY(0.5774) rotate(-45deg)
  transform: scaleY(0.5774) rotate(-45deg)
  background-color: inherit
  left: 33.9340px
}

.hexagon:before {
  top: -106.0660px
  border-top: solid 14.1421px #333333
  border-right: solid 14.1421px #333333
}

.hexagon:after {
  bottom: -106.0660px
  border-bottom: solid 14.1421px #333333
  border-left: solid 14.1421px #333333
}
  
