vendor-prefixes ?= webkit moz o ms official

@import '/include/vendor'
@import '/include/mixins'
@import guide
@import '/include/*'

.clear
  clearfix()

body
  background-color gc(white1)
  color gc(black3)
  margin 0
  padding 0
  gf(c1)
  min-height 460px

a
  text-decoration none
  &:link
    color gc(black2)
  &:visited
    color gc(black2)
  &:hover
    color gc(green1)
    text-decoration none !important

::selection
  color gc(skin1)
  background-color gc(cyan1)

.hidden
  visibility hidden
.loadingscreen
  position absolute
  fullsize()

.page
  margin auto
  min-height 300px
  &.margined
    max-width 1100px
    margin auto
    padding 20px 90px
  > .title
    gf(h1)
    padding 0 0 20px 0
  > .content
    min-height 100px

time > svg
  width 15px
  height 15px
  margin 0 10px

/*
*:focus
  outline: none
*/

*
  box-sizing border-box !important

@import 'listing.styl'

@import 'notfound.styl'

@import 'dashboard.styl'
@import 'users.styl'

@import 'clients.styl'
@import 'client.styl'

@import 'structures.styl'
@import 'structure.styl'

@import 'entries.styl'
@import 'entry.styl'

@import 'home.styl'

