vendor-prefixes ?= webkit moz o ms official

@import '/include/vendor'
@import '/include/mixins'
@import guide
@import '/include/*'

.clear
  clearfix()

body
  background-color gc(white1)
  color gc(black3)
  margin 0
  padding 0
  gf(c1)
  min-height 460px

a
  text-decoration none
  &:link
    color gc(black2)
  &:visited
    color gc(black2)
  &:hover
    color gc(blue2)
    text-decoration none !important

::selection
  color gc(white1)
  background-color gc(blue2)

.hidden
  visibility hidden
.loadingscreen
  position absolute
  fullsize()

.page
  min-height 300px
  max-width 930px
  margin 25px auto
  &.full
    margin 0px auto
    max-width none
  &.form
    padding 10px
    border 1px solid gc(grey3)
    border-radius 3px

time > svg
  width 15px
  height 15px
  margin 0 10px

.input
  gf(c1tb)
  padding 0px
  //background-color gc(white2) !important

.selectize-input
  background-color gc(white4) !important
.input-active
  background-color gc(white1) !important

.switch
  cursor pointer
  width 50px
  height 30px
  border-radius 14px
  transition background 0.2s ease-in-out
  &.listing
    margin 17px 40px 17px 0
    float right
  &.form
    float left
  &.on
    background-color gc(blue2)
  &.off
    background-color gc(grey1)

  > .toggle
    width 22px
    height 22px
    background-color gc(white1)
    margin 4px 0 0 4px
    border-radius 50%
    transition transform 0.2s ease-in-out
    overflow hidden
    > .icon
      width 12px
      height 12px
      margin 4px 0 0.2px
      > svg
        width inherit
        height inherit
        position absolute
        top 5px
        left 5px
        transition opacity 0.2s ease-in-out
        > path
          transition fill 0.2s ease-in-out
  &.on
    > .toggle
      transform translate(20px, 0px)
    > .toggle > .icon > svg > path
      fill gc(blue1)
    > .toggle > .icon > svg:first-child
      opacity 0
  &.off 
    > .toggle
      transform translate(0px, 0px)
    > .toggle > .icon > svg > path
      fill gc(grey3)
    > .toggle > .icon > svg:last-child
      opacity 0

input
  gf(c1tb)
  width 100%
  line-height 20px
  padding 7px 
  outline none
  box-shadow inset 0 1px 2px rgba(0,0,0,0.075)
  border-radius 3px
  border 1px solid gc(grey1);
  &:focus
    outline 0px
    border-color gc(blue1)
    box-shadow inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5)

[class*="hint--"]:after
  gfi(c1s)

*
  box-sizing border-box !important

@import 'listing.styl'
@import 'paginate.styl'

@import 'notfound.styl'

@import 'dashboard.styl'
@import 'users.styl'

@import 'clients.styl'
@import 'client.styl'

@import 'structures.styl'
@import 'structure.styl'

@import 'entries.styl'
@import 'entry.styl'

@import 'home.styl'

@import 'invite.styl'

@import 'logo.styl'

