vendor-prefixes ?= webkit moz o ms official

@import '/include/mixins'
@import guide
@import '/include/*'

.clear
  clearfix()

body
  background-color gc(white1)
  color gc(black2)
  margin 0
  padding 0
  gf(c1)

a
  text-decoration none
  color gc(black2)

::selection
  color gc(skin1)
  background-color gc(cyan1)

.hidden
  visibility hidden
.loadingscreen
  position absolute
  fullsize()

.page
  margin auto
  min-height 300px
 // margin 20px 50px

@import 'page.styl'
@import 'users.styl'
@import 'notfound.styl'

