.page.notfound
  background-color gc(black2)
  height calc(100vh - 66px)
  > .board
    position fixed
    top 50%
    left 50%
    width 320px
    height 200px
    margin -100px 0 0 -160px
    gf(notfound)
    text-align center
    text-transform uppercase
    text-shadow 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed
    color red
    > p
      line-height 5px
    > p#lineerror
      color #fff
      text-shadow 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff
