.page.structures
  > .deleted
    float right
    width 33px
    height 33px
    padding 5px
    margin 0 10px 0 0
    &:hover
      background-color gc(grey1)
      border-radius 3px
    onoff()
    &.active
      > svg
        fill gc(red1)

  > .ctap
    float right
    gf(c1b)
    color gc(white1)
    padding 6px 12px
  > .content
    padding 20px 0
    > .listing
      > .inner
        > .items
          > .item.structure
            > .details
              > .entities
                display block
                margin 7px 0 0 0
                > .entity
                  display inline-block
                  gf(c1tb)
                  > .type
                    padding 2px 6px
                    color gc(white1)
                    margin 0 5px
                    border-radius 4px
                    gf(c1tb)
                    &.Blog
                      background-color gc(cyan1)
                    &.Tags
                      background-color gc(yellow1)
                    &.Text
                      background-color gc(orange1)
                    &.Number
                      background-color gc(blue3)
                    &.Link
                      background-color gc(green1)
                    &.Image
                      background-color gc(red1)
                    &.Date
                      background-color gc(blue1)
                    &.Time
                      background-color gc(blue1)
                    &.DateTime
                      background-color gc(blue1)
                    &.DateRange
                      background-color gc(blue1)
                    &.DateTimeRange
                      background-color gc(blue1)
