.page.structures
  > .ctap
    float right
    gf(c1b)
    color gc(white1)
    padding 6px 12px
  > .content
    padding 20px 0
    > .listing
      > .structure
        > .entities
          > .entity
            display inline-block
            gf(c1b)
            > .type
              padding 3px 6px
              color gc(white1)
              margin 0 5px
              border-radius 2px
              gf(c1b)
              &.Blog
                background-color gc(cyan1)
              &.Tags
                background-color gc(yellow1)
              &.Text
                background-color gc(orange1)
              &.Image
                background-color gc(red1)
             
