.user
  border 2px solid gc(black2)
  padding 10px 120px 10px 10px
  float left
  position relative
  > .profile
    position absolute
    top 10px
    right 10px
    width 100px
    height 100px
    border-radius 50%
    overflow hidden
    > img
      width inherit
      height inherit
  > .name
    gf(h2)
    padding 0 0 10px 0
  .params
    > .param
      > .key
        float left
        width 90px
        gf(c1b)
        padding 0 10px 0 0
      > .value
        float left
