.user
  padding 20px 
  float left
  position relative
  margin 0 20px 20px 0
  background-color gc(white2)
  > .profile
    position absolute
    top 10px
    right 10px
    width 50px
    height 50px
    border-radius 50%
    overflow hidden
    > img
      width inherit
      height inherit
  > .name
    gf(h2)
    padding 0 0 10px 0

  > .details
    > .detail
      &.detail_client > .label
        padding 6px 0
      padding 10px 5px
      clear both
      > .label
        float left
        width 100px
      > .value
        float left
        &.toggle > input
          font-size 40px
          margin 0

