> .inner
  min-height 40px
  > .items
    border-left 1px solid gc(grey1)
    border-right 1px solid gc(grey1)
    border-bottom 1px solid gc(grey1)
    > .item
      color gc(black1)
      display block
      border-bottom 1px solid gc(grey1)
      background-color gc(white1)
      animation cellInX 0.1s 0s ease-in both
      for num in 0..20
        &:nth-child({num})
          animation-delay unit(num*0.02, 's')
      &:hover
        background-color gc(grey2)
      &:last-child
        border-bottom 1px solid transparent
      > .checkbox
        cursor pointer
        float left
        padding 24px 20px 22px 10px
      > .profile
        float left
        width 40px
        height 40px
        background-color gc(grey1)
        background-size contain
        margin 10px
      > .name
        gf(c1b)
        display block
        padding 10px 0 0 10px
      > .link
        float right
        margin 17px 10px 17px 0
        padding 6px 
        gf(c1tb)
        color gc(white1)

      > .switch
        cursor pointer
        float right
        width 50px
        height 30px
        margin 17px 40px 17px 0
        border-radius 14px
        transition background 0.2s ease-in-out
        &.on
          //background linear-gradient(to bottom, gc(green3), gc(green1))
          //background radial-gradient(gc(green2), gc(green1))
          //background linear-gradient(to bottom, gc(green2), gc(green1))
          //background-color gc(green3)
          background-color gc(blue2)
        &.off
          background-color gc(grey1)

        > .toggle
          width 22px
          height 22px
          background-color gc(white1)
          margin 4px 0 0 4px
          border-radius 50%
          transition transform 0.2s ease-in-out
          overflow hidden
          > .icon
            width 12px
            height 12px
            margin 4px 0 0.2px
            > svg
              width inherit
              height inherit
              position absolute
              top 5px
              left 5px
              transition opacity 0.2s ease-in-out
              > path
                transition fill 0.2s ease-in-out
        &.on
          > .toggle
            transform translate(20px, 0px)
          > .toggle > .icon > svg > path
            fill gc(blue1)
          > .toggle > .icon > svg:first-child
            opacity 0
        &.off 
          > .toggle
            transform translate(0px, 0px)
          > .toggle > .icon > svg > path
            fill gc(grey3)
          > .toggle > .icon > svg:last-child
            opacity 0

      > .picture
        float right
        width 30px
        height 30px
        background-size contain
        margin 17px 10px 17px 0
        background-color gc(grey1)
        gf(c1tb)
        &:first-child
          margin 17px 17px 17px 0
        border-radius 4px
      > .details
        padding 5px 0 10px 35px
        > .detail
          display inline-block
          > .value
            display inline-block
            gf(c1tb)
