each entry in self.entries
  .entry.item
    .picture.author(style="background-image: url('" + entry.user.picture + "');")
    if entry.client.profile
      .picture.client(style="background-image: url('" + entry.client.profile + "');")
    .checkbox
      input(type="checkbox",data-_id=entry._id)
    a.name(href='/entries/' + entry._id)=entry.name
    .details
      .detail.created created 
        time.value(title=entry.created_at)
          include ../../vector/time.svg
        |,
      .detail.updated updated 
        time.value(title=entry.updated_at)
          include ../../vector/time.svg

      .detail.structure from structure
        .value #{entry.structure.name}
    .clear
