each entry in self.entries
  .entry.item
    a.name(href='/entries/' + entry._id)=entry.name
    .created created 
      time(title=entry.created_at)
        include ../../vector/time.svg
    .updated updated 
      time(title=entry.updated_at)
        include ../../vector/time.svg

