each entry in self.entries
  a.entry.item(href='/entries/' + entry._id)
    .name=entry.name
    .created created 
      time(title=entry.created_at)
        include ../../vector/time.svg
    .updated updated 
      time(title=entry.updated_at)
        include ../../vector/time.svg

