.list-header
  .checkbox.selectall
    input(type="checkbox")
  .state.state_stats.on
    .copy
      .value ?
      |Total
  .state.state_actions.off
    .copy
      .value 12
      |Selected
    .actions
      .action.delete.ctar(data-type='delete') Delete
      if buttons
        each button in buttons
          .action.cta(data-type=button)=button
  .clear
.items
