.list-header
  .checkbox.selectall
    input(type="checkbox")
  .state.state_stats.on
    .copy
      .value ?
      |Total

  .state.state_actions.off
    .copy
      .value 12
      |Selected
    .actions
      .action.action_entries.hide.cta.off(data-type='hide') Unpublish
      .action.action_entries.publish.ctag.off(data-type='publish') Publish
      .action.delete.ctar(data-type='delete') Delete

      .action.restore.cta.off(data-type='restore') Restore
      .action.force.ctar.off(data-type='force') Delete Permanently

      if buttons
        each button in buttons
          .action.cta(data-type=button)=button

  .search.on
    .cancel
      include ../../vector/cancel.svg
    input(type="text",placeholder="Search")

  .filters

    .filter.filter_client.off(data-filter='client',data-endpoint='clients')
      .option.option_default.on
        .copy Client
        .icon.down
          include ../../vector/down.svg
        .clear
      .option.option_selected.off
        .copy.copy_selected ???
        .icon.cancel(data-filter='client')
          include ../../vector/close.svg
        .clear

    .selection.selection_client.off
      .inner
        .label
          .icon.cancel
            include ../../vector/close.svg

          .copy Filter by client
        .search
          input(type="text",placeholder="Filter client")
        .values

    .filter.filter_structure.off(data-filter='structure',data-endpoint='structures')
      .option.option_default.on
        .copy Structure
        .icon.down
          include ../../vector/down.svg
        .clear
      .option.option_selected.off
        .copy.copy_selected ???
        .icon.cancel(data-filter='structure')
          include ../../vector/close.svg
        .clear

    .selection.selection_structure.off
      .inner
        .label
          .icon.cancel
            include ../../vector/close.svg

          .copy Filter by structure
        .search
          input(type="text",placeholder="Filter structure")
        .values

  .clear
.inner
