.list-header
  .checkbox.selectall
    input(type="checkbox")
  .state.state_stats.on
    .copy
      .value ?
      |Total

  .state.state_actions.off
    .copy
      .value 12
      |Selected
    .actions
      .action.activate.cta(data-type='hide') Hide
      .action.activate.ctag(data-type='publish') Publish
      .action.delete.ctar(data-type='delete') Delete
      if buttons
        each button in buttons
          .action.cta(data-type=button)=button

  .filters
    .filter.filter_structure.off(data-filter='structure',data-endpoint='structures')
      .option.option_default.on
        .copy Structure
        .icon.down
          include ../../vector/down.svg
        .clear
      .option.option_selected.off
        .copy.copy_selected ???
        .icon.cancel(data-filter='structure')
          include ../../vector/close.svg
        .clear

    .selection.selection_structure.off
      .inner
        .label
          .icon.cancel
            include ../../vector/close.svg

          .copy Filter by structure
        .search
          input(type="text",placeholder="Filter structure")
        .values

  .clear
.inner
