each user in self.users
  .user 
    .profile
      img(src=user.picture)
    .name=user.name
    .params  
      // each value, key in user
      each param in ['email','provider','updated_at','created_at', 'sessions']
        .param
          .key=param
          .value #{user[param]}
          .clear
