header
  .inner
    .me
      .oauths.off
        .oauth.google(data-type='google')
          include ../../vector/google.svg
      .profile.on
        include ../../vector/profile.svg
        include ../../vector/cancel.svg
      .picture.off
        img()
        .logout
          include ../../vector/cancel.svg

    .client
      .name
    .clear
