header
  .inner
    a.logo.off(href='/home')
      include logo
    a.name.off(href='/home') basal
    .client.off
      .picture
      .name
    .menu.off
      .divider
      a.option.option_clients(href='/clients') Clients
      a.option.option_structures(href='/structures') Structures
      a.option.option_entries(href='/entries') Entries
      .clear
    .me
      .oauths.off
        .oauth.google(data-type='google')
          include ../../vector/google.svg
      .profile.off
        include ../../vector/profile.svg
        include ../../vector/cancel.svg
      .picture.off
        .image
        .logout
          include ../../vector/cancel.svg
    .clear
