.menu
  a.logo(href='/')
    .dots
      .dot
      .dot
      .dot
  .name basal
  .options
    a.option.option_dashboard(href='/')
      .active
      .icon
        include ../../vector/dashboard.svg
      .label dashboard
      .clear
    a.option.option_users(href='/users')
      .active
      .icon
        include ../../vector/users.svg
      .label users
      .clear
    a.option.option_clients(href='/clients')
      .active
      .icon
        include ../../vector/client.svg
      .label clients
      .clear
    a.option.option_structures(href='/structures')
      .active
      .icon
        include ../../vector/structure.svg
      .label structures
      .clear
    a.option.option_entries(href='/entries')
      .active
      .icon
        include ../../vector/entry.svg
      .label entries
      .clear


