.menu.off
  .options
    a.option.option_users.hint--right(href='/users',aria-label="Users")
      .active
      .icon
        include ../../vector/users.svg
      .label users
      .clear
    a.option.option_clients.hint--right(href='/clients',aria-label="Clients")
      .active
      .icon
        include ../../vector/client.svg
      .label clients
      .clear
    a.option.option_structures.hint--right(href='/structures',aria-label="Structures")
      .active
      .icon
        include ../../vector/structure.svg
      .label structures
      .clear
    a.option.option_entries.hint--right(href='/entries',aria-label="Entries")
      .active
      .icon
        include ../../vector/entry.svg
      .label entries
      .clear


