.notice.info.off
  .inner
    .type.success: .inner
      include ../../svg/success.svg
    .type.warning: .inner
      include ../../svg/warning.svg
    .type.info: .inner
      include ../../svg/info.svg
    .copy
      .title.info Notice
      .title.success Success
      .title.warning Warning
      .message Copy placeholder
    .close: .inner
      include ../../svg/cancel.svg
    
