
.fade.off
.prompt.off
  .inner
    .cancel.option(data-value='cancel') &#10005;

    .title Specified title this is a test
    .copy This is sample text, this is some more sample text, and some more, hopefully this will wrappy
    .textarea.off
      textarea(value='')

    .options
      .option.btn2.option_1.active(tabindex=0): .copy Option 1
      .option.btn2.option_2.off(tabindex=1): .copy Option 2
      .option.btn2.option_3.off(tabindex=2): .copy Option 3
      .option.btn2.option_4.off(tabindex=3): .copy Option 4
