extends ../extends/layout

block content
  .page.margined.clients
    a.ctap(href='/clients/new') New Client
    .clear
    .content
      .listing.clients
        - var buttons = ['Client Invite'];
        include ../partial/listing

    script.
      Page = 'clients';
      Global.init = 'Clients';
