extends ../extends/layout

block content
  .page.margined.clients
    .add
      .ctab +
      .input.selectize-input
        input(type="text",placeholder="Name")
    .clear
    .content
      .listing

    script.
      Page = 'clients';
      Clients.i();
