extends ../extends/layout

block content
  .page.margined.clients
    .add
      .cta +
      .input.off
        input(type="text",placeholder="Name")
    .title clients
    .content

    script.
      Clients.i()
