
extends ../extends/layout

block content
  .page.margined.client
    .label Client Name
    .input.input-name.selectize-input
      input(type="text")
    .clear
    .label Collaborators
    .input.input-users
      input(type="text")
    .clear
    .submit
      button.ctap Submit

  script.
    Page = 'clients';
    Global.init = 'Client';
