
extends ../layout/core

block content
  .page.client.form
    .label Client Name
    .input.input-name.selectize-input
      input(type="text")
    .clear
    .label Profile Picture
    .input.input-image
      .picture
      input(type="file",name="file",accept="image/png,image/jpeg")
      button.cta Choose an image or drag it here
      .clear
      .croppie
    .clear
    .label Collaborators
    .input.input-users
      input(type="text")
    .clear
    .submit
      button.ctap Submit
    .clear

  script.
    Page = 'clients';
    Global.init = 'Client';
