extends ../extends/layout

block content
  .page.margined.clients
    .add
      .ctap +
      .input.off
        input(type="text",placeholder="Name")
    .title clients
    .content
      .listing

    script.
      Clients.i()
