extends ../extends/layout

block content
  .page.dashboard.margined 
    .collections
      a.collection.users(href='/users')
        .title Users
        .stat
          .copy Total
          .value(data-value='users.paginate.total') ?
      a.collection.clients(href='/clients')
        .title Clients
        .stat
          .copy Total
          .value(data-value='clients.paginate.total') ?
      a.collection.structures(href='/structures')
        .title Structures
        .stat
          .copy Total
          .value(data-value='structures.paginate.total') ?

      a.collection.entries(href='/entries')
        .title Entries
        .stat
          .copy Total
          .value(data-value='entries.paginate.total') ?

    script.
      Page = 'dashboard';
      Dashboard.i();
