extends ../extends/layout

block content
  .page.dashboard.margined 
    .collections

      for i in [1,2]
        .collection.fake
          .client
            img.profile
            .name(href='/') ..
            .date
              .copy last updated
              .value ..
            .stats
              .stat.stat_users 
                .icon
                  include ../../vector/users.svg
                .number .
              .stat.stat_structures 
                .icon
                  include ../../vector/structure.svg
                .number . 
              .stat.stat_entries 
                .icon
                  include ../../vector/entry.svg
                .number . 
      .clear

    script.
      Page = 'dashboard';
      Global.init = 'Dashboard';

