extends ../extends/layout

block content
  .page.dashboard.margined 
    .collections

      a.collection(href='/')
        .client
          img.profile
          .name Client Name
          .stat 6 Structures
          .stat 12 Entries

      .clear
    .clear

    script.
      Page = 'dashboard';
      Global.init = 'Dashboard';

