extends ../extends/layout

block content

  .page.margined.entries
    a.ctap(href='/entries/new') New Entry
    .clear
    .content
      .listing.entries
        include ../partial/listing

    script.
      Page = 'entries';
      Entries.i()
