extends ../extends/layout

block content
  link(href="http://cdn.quilljs.com/1.0.0/quill.snow.css",rel="stylesheet")
  script(src="http://cdn.quilljs.com/1.0.0/quill.js")
    
  .page.margined.entries
    a.ctab(href='/entries/add') +
    .clear

    #template
      .clear
      include ../entities/tags.pug
      .clear

      include ../entities/text.pug
      .clear

      include ../entities/blog.pug
      .clear

    .add
      .select.client
        select(name="client") 
      .select.structure
        select(name="structure",disabled) 

      .clear
      .body

      .submit.ctap.off Save

      .clear

    .content
      .listing
    script.
      Page = 'entries';
      Entries.i()
