extends ../layout/core

block content
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css",rel="stylesheet")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js") 
  link(href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css",rel="stylesheet")
  script(src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js")

  .page.margined.entry 
    #template
      .clear
      include ../entities/tags.pug
      .clear

      include ../entities/text.pug
      .clear

      include ../entities/link.pug
      .clear

      include ../entities/blog.pug
      .clear

      include ../entities/date.pug
      .clear

      include ../entities/time.pug
      .clear

      include ../entities/datetime.pug
      .clear

      include ../entities/daterange.pug
      .clear

      include ../entities/datetimerange.pug
      .clear

      include ../entities/image.pug
      .clear

    .modify
      .select.structure
        select(name="structure",tabindex=1) 
      .clear

      .name.off
        .label Name
        .input
          input(type="text",placeholder="Entry name",tabindex=2)
        .clear
      .body

      button.submit.ctap.off Save
      button.another.cta.off Add Another
      //button.cancel.ctar.on(href='/entries') Cancel

      .clear

    script.
      Page = 'entries';
      Entry.i()
