extends ../extends/layout

block content
  link(href="http://cdn.quilljs.com/1.0.0/quill.snow.css",rel="stylesheet")
  script(src="http://cdn.quilljs.com/1.0.0/quill.js")
    
  .page.margined.entries
    .content
      .listing

    .add
      .select.client
        select(name="client") 
      .select.structure
        select(name="structure") 

      .clear

      .entity.entity_text
        .label Text Name
        .input.selectize-input
          input(type="text" placeholder="Enter text")
        .clear

      .clear

      .entity.entity_blog
        .label Blog Name
        .clear
        .blog

          #toolbar
            button.ql-bold 
            button.ql-italic 
            button.ql-underline 
            button.ql-strike

            select.ql-font
            select.ql-size
            select.ql-color
            select.ql-background

            button.ql-script(value="sub")
            button.ql-script(value="super")

            button.ql-header(value="1")
            button.ql-header(value="2")
            button.ql-blockquote
            button.ql-code-block

            button.ql-list(value="ordered")
            button.ql-list(value="bullet")
            button.ql-indent(value="-1")
            button.ql-indent(value="+1")

            button.ql-direction(value="rtl")
            select.ql-align

            button.ql-link
            button.ql-image
            button.ql-video
            button.ql-formula

          #editor
            p Hello World!



      .clear

      .submit.ctap Submit

      .clear

    script.
      Page = 'entries';
      Entries.i()
