extends ../extends/layout

block content
  .page.home.margined

    .title welcome to basal

    .oauths
      .oauth.google(data-type="google")
        img(src="/images/google/btn_google_signin_dark_normal_web.png")
