
extends ../layout/core.pug

block content
  #app
    nav.nav.hash-shadow
      .container
        .nav-left
          .nav-item
            .logo
              include ../../vector/logo.svg
          .nav-item
            Search
        .nav-right
          User
    .container
      User-Menu
