extends ../layout/core

block content
  .page.home.margined.off

    .title welcome to basal

    .oauths
      .oauth.oauth_google(data-type="google")
        img(src="/images/google/btn_google_signin_dark_normal_web.png")

  .page.dashboard.margined.off
    include ../partial/dashboard.pug


  script.
    Page = 'dashboard';
    Global.init = 'Dashboard';
