extends ../extends/layout

block content
  .page.index 
    .dashboard

      .collections

        .collection.users
          .title Users
          .stat
            .copy Total
            .value 0
