extends ../extends/layout

block content
  .page.index 
    .title dashboard
    .dashboard
      .collections
        a.collection.users(href='/users')
          .title Users
          .stat
            .copy Total
            .value(data-value='users.paginate.total') 0
    script.
      Dashboard.i();
