extends ../layout/core.pug
block content
  .intro
    canvas#canvas
    a.newlogo.off(href='/home')
      .inner
        .hexagon.white
          include ../../vector/hexagon.svg
        .svg.white
          include ../../vector/logo.svg

    script.
      setTimeout(function() {
        _.on('.newlogo');
      }, 2000);
      hexagonDraw();
      $('header').addClass('headerintro');
