extends ../layout/core.pug
block content
  script(async,defer,src="https://buttons.github.io/buttons.js")
  .intro
    canvas#canvas
    a.github-button(href="https://github.com/acidjazz/basal", data-icon="octicon-star", data-size="large", data-show-count="false", aria-label="Star ntkme/github-buttons on GitHub") Star
    
    a.newlogo.off(href='/home')
      .inner
        .hexagon.white
          include ../../vector/hexagon.svg
        .svg.white
          include ../../vector/logo.svg
  .copys
    .inner
      .title what is basal
      p <span class="kw">basal</span> is a tool to help allow dynamic content on static sites, cutting out out the need for databases, server-side rendering, or even servers (ex: S3 statically hosted sites). basal also provides a customizable look and feel for you and others (client, partners, etc) to modify this content.

      .title how?
      ul
        li Create a <span class="kw">Structure</span>, this defines the types of your content with <span class="kw">entities</span>, they can be <span class="kw">Text</span>, an <span class="kw">Image</span>, or even a <span class="kw">Blog</span>
        li Add an <span class="kw">Entry</span> or two to that structure, being your actual content
        li Incorporate basal into your site to display the added content, this can be done simply through adding basals' JS library and then adding some custom attributes to your HTML
      .title still on it
      p <span class="kw">basal</span> is still in early development, feel free to subscribe and we'll keep you notified when things work, <a href="mailto:kevin@256.io">email me</a> if you have any questions, or check out the <a href="https://github.com/acidjazz/basal" target="_new">GitHub</a>

      link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css", rel="stylesheet", type="text/css")
      style(type="text/css").
          #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action="//tech.us16.list-manage.com/subscribe/post?u=98a9a2767214d00a9c13286bc&id=221beb0f3f", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
              #mc_embed_signup_scroll
                  .mc-field-group
                      label(for="mce-EMAIL") Email Address 
                      input#mce-EMAIL.required.email(type="email", value="", name="EMAIL")
                  #mce-responses.clear
                      #mce-error-response.response(style="display:none")
                      #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style="position: absolute; left: -5000px;", aria-hidden="true")
                      input(type="text", name="b_98a9a2767214d00a9c13286bc_221beb0f3f", tabindex="-1", value="")
                  .clear
                      input#mc-embedded-subscribe.button(type="submit", value="Subscribe", name="subscribe")
      script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
      script(type="text/javascript").
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
      // End mc_embed_signup

    script.
      setTimeout(function() {
        _.on('.newlogo');
      }, 2000);
      hexagonDraw();
      $('header').addClass('headerintro');
