link(rel='stylesheet',href="/css/vendor.css",type='text/css',media='all')
script(type='text/javascript', src='/js/vendor.js')
#json.json-body=self.json
script.
  $(function() { $('#json').jsonBrowse(!{self.json}); });
