doctype
html
  head
    title json-browse
    link(rel='stylesheet',href="/css/vendor.css",type='text/css',media='all')
    link(rel="shortcut icon", href="/images/icons/favicon.ico")
    script(type='text/javascript', src='/javascript/vendor.js')
  body
    #json.json-body=self.json
    script.
      $(function() { $('#json').jsonBrowse(!{self.json}); });
