
doctype
html(lang='en')
  head
    link(rel='stylesheet',href="/css/main.css",type='text/css',media='all')
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript', src='/js/config.js')
    script(type='text/javascript', src='/js/bundle.js')
    include ../partial/favicon
  body
    .loadingscreen
    include ../includes/spinner

    script.
      Spinner.i($('.loadingscreen'))
