extends ../extends/layout.pug
block content
  canvas#canvas
  .newlogo.off
    .inner
      .hexagon
        include ../../vector/hexagon.svg
      .svg
        include ../../vector/logo.svg

    script.
      setInterval(function() {
        _.swap('.newlogo');
      }, 4000);
      hexagon();
      $('header').hide();
