
extends ../extends/layout

block content
  .page.margined.structure
    form.modify(name="modify")
      #template
        .entity
          .input.selectize-input
            input(type="text",required,pattern="^[a-zA-Z0-9]+$",title="letters and numbers, no spaces",placeholder="Name")
          .input
            select(name="entityOption")
              option
              option(value="Text") Text
              option(value="Blog") Blog
              option(value="Image") Image
              option(value="Tags") Tags
              option(value="Date") Date
              option(value="Time") Time
              option(value="DateTime") DateTime
              option(value="DateRange") DateRange
              option(value="DateTimeRange") DateTimeRange
          button.remove.cta -
          .clear

      .detail.client
        .label Client
        .input
          select
        .clear
      .detail.name
        .label Structure Name
        .input.selectize-input
          input(type="text",name="structureName")
        .clear
      .clear
      .title Entities
      .entities
        .body
        button.more.ctab +
        .clear
      .submit
        button.ctap(type="submit") Submit
      .clear

    script.
      Page = 'structures';
      Structure.i();
