extends ../extends/layout

block content
  .page.margined.structures
    .ctab +
    .clear
    .add.off
      #template
        .entity
          .input.selectize-input
            input(type="text",name="entityName",placeholder="Name")
          .input
            select(name="entityOption")
              option
              option(value="Text") Text
              option(value="Blog") Blog
              option(value="Image") Image
              option(value="Tags") Tags
          .remove.cta -
          .clear

      .label Add a Structure
      .name.selectize-input
        input(type="text",name="structureName",placeholder="Structure Name")
      .entities
        .more.ctab +
        .label Entities
      .submit
        .ctap Submit
      .clear
    .content
      .listing

    script.
      Page = 'structures';
      Structures.i();
