extends ../extends/layout

block content
  .page.margined.structures
    .title structures
    .content
      .add
        #template
          .entity
            .input
              input(type="text",name="entityName",placeholder="Name")
            .input
              select(name="entityOption")
                option
                option(value="Text") Text
                option(value="Blog") Blog
                option(value="Image") Image
            .remove.cta -
            .clear

        .label Add a Structure
        .name
          input(type="text",name="structureName",placeholder="Structure Name")
        .entities
          .more.ctap +
          .label Entities
        .submit
          .ctap Submit


    script.
      Structures.i()
