extends ../layout/core

block content
  .page.margined.structures
    a.ctap(href='/structures/new') New Structure
    a.deleted.off.hint--left(href='/structures/deleted',aria-label="Show Deleted Entries")
      include ../../vector/trash.svg
    a.deleted.active.off.hint--left(href='/structures',aria-label="Show Entries")
      include ../../vector/trash.svg
    .clear
    .content
      .listing.structures
        - var buttons = [];
        include ../partial/listing

    script.
      Page = 'structures';
      Global.init = 'Structures';
