
extends ../layout/core

block content
  .page.margined.form.structure
    form.modify(name="modify")
      #template
        .entity
          .input.input-entity-name
            input(type="text",
            placeholder="Name",
            title="only a-z, 0-9, -, _, - and spaces are allowed",
            pattern="^[a-zA-Z0-9\/_\\- ]+$",required)
          .input.input-entity-type
            select(name="entityOption")
              option
              each entity in self.entities
                option(value=entity)=entity
          button.remove.cta -
          .clear

      .detail.client
        .label Client
        .input
          select
        .clear
      .detail.name
        .label Structure Name
        .input.input-name
          input(type="text",name="structureName")
        .clear
      .detail.clientAccess
        .label Client Access
        .switch.form
          .toggle
            .icon
              include ../../vector/close.svg
              include ../../vector/checked.svg
        .clear
      .clear
      .title Entities
      .entities
        .body
        button.more.ctab +
        .clear
      .submit
        button.ctap(type="submit") Save Structure
        button.cta.off Add an Entry
      .clear

    script.
      Page = 'structures';
      Structure.i();
