extends ../extends/layout

block content
  .page.margined.users
    .clear
    .content
      .listing.users
        include ../partial/listing

  script.
    Page = 'users';
    Global.init = 'Users';
