.entity.entity_Blog(data-type="Blog")
  .label Blog Name
  .clear
  .blog

    .toolbar
      button.ql-bold 
      button.ql-italic 
      button.ql-underline 
      button.ql-strike

      select.ql-font
      select.ql-size
      select.ql-color
      select.ql-background

      //button.ql-script(value="sub")
      //button.ql-script(value="super")

      button.ql-header(value="1")
      button.ql-header(value="2")
      button.ql-blockquote
      button.ql-code-block

      button.ql-list(value="ordered")
      button.ql-list(value="bullet")
      button.ql-indent(value="-1")
      button.ql-indent(value="+1")

      button.ql-direction(value="rtl")
      select.ql-align

      button.ql-link
      button.ql-image
      button.ql-video
      //button.ql-formula

    .editor
      p 

