.entity.entity_Image(data-type="Image")
  .label Image
  .input.input-image
    .picture
    input(type="file",name="file",accept="image/*")
    button.cta.select Choose an image or drag it here
    img.cropper
    .clear
    button.cta.save.off Save Image
  .clear
